// About

.h1-big, .h2-big {
	text-align: center;
}

.h1-big {
	font-size: 2.2rem;
	color: $light-blue;
	margin-bottom: 0;
}

.h2-big {
	font-weight: 500;
	margin-bottom: 1.5rem;
	font-size: 1.2rem;
}

.about {
	padding: 4rem 0;
}

.logo-holder {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-mobile {
	width: 100%;
	padding: 0 2rem 1rem;
}

.logo-big {
	display: none;
}

.btn-cta-holder {
	display: flex;
	justify-content: center;
}

.btn-cta {
  font-size: 16px;
  border-radius: 30px;
  padding: 10px 30px;
  border: 2px solid #27aae2;
  background: #27aae2;
  color: #fff;
  margin-top: 1rem;
  transition: background-color 0.3s;
  outline: none;
}

.btn-cta:hover {
  background: transparent;
  color: #000;
}
