*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #FDFDFD;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding-bottom: 1.5rem;
}

.wrapper {
  max-width: 1000px;
	padding: 0 1rem;
  margin: 0 auto;
}

.pb {
  padding-bottom: 5rem;
}

.btn {
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 30px;
  outline: none;
}

.input {
  font-size: 0.9em;
  padding: 7px;
  border: none;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  height: 30px;
}

.select {
  font-size: 0.9em;
  padding: 5px;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  height: 30px;
	background-color: #fff;
}

.no-border {
	border: none !important;
}
