*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #FDFDFD;
  padding: 0;
  margin: 0;
  color: #6c757d;
}

.wrapper {
  max-width: 1000px;
	padding: 0 2rem;
  margin: 0 auto;
}

.section {
  margin-bottom: 5rem;
}

.btn {
  border: none;
  background-color: #ddd;
  cursor: pointer;
  border-radius: 30px;
}

.input {
  font-size: 0.9em;
  padding: 7px;
  border: none;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  height: 30px;
}

.select {
  font-size: 0.9em;
  padding: 5px;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  height: 30px;
}

.section_where {
	margin-bottom: 2rem;
}

.boxround, .cardround {
  background-color: #fff;
}

.cardround {
  margin-bottom: 2rem;
}

.no-border {
	border: none !important;
}

.width-big {
	width: 60% !important;
}

.width-small {
	width: 38% !important;
}

.plr-2 {
	padding-left: 2rem !important;
	padding-right: 2rem !important;
}
