.con {
	padding: 3rem 0 5rem;
}

.con-header {
	font-size: 1.8rem;
	padding: 0 1rem;
	margin-bottom: 1.5rem;
	font-family: 'Lato';
	font-weight: 700;

	.icons-group {
		display: flex;
		align-items: center;
	
		.icon {
			margin: 0 0.5rem -1rem 0;
			margin-bottom: -1rem;
		}
	
		.fas {
			font-size: 0.9em;
			margin: 0 0 -0.3rem 0.5rem;
		}
	}
}


// x y blur shadow for all conditions
$shadow: 0 40px 50px;

// condition 1 (blue)
$con-1: hsl(198, 70%, 60%);
$con-1-box: hsl(198, 100%, 28%);
$con-1-text: hsl(198, 70%, 30%);
$con-1-light: hsla(198, 95%, 97%, 1);
$con-1-list: hsla(198, 95%, 90%, 1);
$con-1-list-hover: hsla(198, 95%, 85%, 1);

// condition 2 (yellow)
$con-2: hsl(55, 80%, 80%);
$con-2-box: hsl(55, 63%, 35%);
$con-2-text: hsl(53, 64%, 45%);
$con-2-light: hsla(55, 95%, 97%, 1);
$con-2-list: hsla(55, 90%, 90%, 1);
$con-2-list-hover: hsla(55, 90%, 80%, 1);
$con-2-border: hsla(55, 80%, 50%, 1);

// condition 3 (green)
$con-3: hsl(88, 63%, 63%);
$con-3-box: hsl(88, 55%, 30%);
$con-3-text: hsl(88, 73%, 35%);
$con-3-light: hsla(88, 90%, 98%, 1);
$con-3-list: hsla(88, 90%, 90%, 1);
$con-3-list-hover: hsla(88, 90%, 80%, 1);

// condition 4 (gray)
$con-4: hsl(0, 0%, 95%);
$con-4-box: hsl(0, 0%, 50%);
$con-4-text: hsl(0, 0%, 50%);
$con-4-light: hsla(0, 0%, 98%, 1);
$con-4-list: hsl(0, 0%, 95%);
$con-4-list-hover: hsl(0, 0%, 90%);
$con-2-border: hsla(0, 0%, 80%, 1);

// condition 5 (gray blue)
$con-5: hsl(198, 50%, 65%);
$con-5-box: hsl(198, 50%, 30%);
$con-5-text: hsl(198, 50%, 30%);
$con-5-light: hsla(198, 95%, 98%, 1);
$con-5-list: hsla(198, 70%, 93%, 1);
$con-5-list-hover: hsla(198, 70%, 88%, 1);


@mixin color-set($sel, $bg, $box, $text, $light, $list, $list-hover, $border) {
	#{$sel} {
		background-color: $bg;
		.card {
			border: 5px solid $bg;
			box-shadow: $shadow $box;
			background-color: $light;
		}
		.con-header {
			color: $text;
		}
		.list-item {
			$bw: 2px;
			$bt: dotted;
			border-bottom: $bw $bt $border;
			background-color: $list;

			&:first-of-type {
				border-top: $bw $bt $border;
			}
			&:hover {
				background-color: $list-hover;
			}
		}
	}
}

@include color-set("#section-con-1", $con-1, $con-1-box, $con-1-text, $con-1-light, $con-1-list, $con-1-list-hover, $con-1);
@include color-set("#section-con-2", $con-2, $con-2-box, $con-2-text, $con-2-light, $con-2-list, $con-2-list-hover, $con-2-border);
@include color-set("#section-con-3", $con-3, $con-3-box, $con-3-text, $con-3-light, $con-3-list, $con-3-list-hover, $con-3);
@include color-set("#section-con-4", $con-4, $con-4-box, $con-4-text, $con-4-light, $con-4-list, $con-4-list-hover, $con-2-border);
@include color-set("#section-con-5", $con-5, $con-5-box, $con-5-text, $con-5-light, $con-5-list, $con-5-list-hover, $con-5);
