.footer {
    padding: 3rem 0;
    background-color: $footer-bg;
    color: $footer;
    font-size: 1.1rem;

    .wrapper div {
        text-align: center;
    }

    .name {
        display: block;
        margin-top: 0.5rem;
    }
}

.footer-link {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid $footer;
    transition: all 0.2s;

    &:hover {
        color: $footer-hover;
        border-bottom-color: $footer-hover;
    }
}

.footer-icon {
    color: $footer-dark;
    font-size: 0.9em;
    margin-top: 2rem;

    .footer-link {
        border-bottom-color: $footer-dark;

        &:hover {
            color: $footer-dark-hover;
        }
    }
}
