.forecast {
	background-color: $bg-forecast;
	padding-top: 3rem;
}

.hidden {
	display: none;
}

.bg {
	padding: 1rem 0 3rem;
	background-color: $bg-forecast;
}

.pb0 {
	padding-bottom: 0 !important;
}

.cardround-weather {
	font-size: 0.8rem;
	margin-bottom: 2rem;
}

.cardround-weather, .cardround-take {
	box-shadow: 0 10px 20px hsla(0, 0%, 80%, 1);
	border-left: 10px solid #c6c6c6;
	color: #4e4e4e;
}

.date-group {
	font-size: 1.1rem;
}

.date-group-weekday {
	font-weight: 500;
}

.icon-group {
	margin: 2rem 0;
	display: flex;
	justify-content: space-around;
	align-items: center;

		.icon {
			font-size: 4rem;
		}
}

.icon-group-city, .icon-group-big-temp {
	text-align: center;
	font-size: 1.3rem;
}

.icon-group-big-temp {
	font-size: 1.8em;
}


// table

.table-forecast {
	border-collapse: collapse;
	white-space: nowrap;
	width: 100%;
}

.table-forecast .td {
	line-height: 1.5rem;
	padding: 0.5rem 1rem;
	border-bottom: 1px solid $bc-border-color;
}

.border-top {
	border-top: 1px solid $bc-border-color;
}

.align-right {
	text-align: right;
}

// ======================
// take

.cardround-take {
	padding: 1rem;

	h3, h4 {
		font-size: inherit;
	}

	h3 {
		margin-bottom: 2rem;
	}

	h4 {
		margin-bottom: 0.5rem;
	}
}

.list-take {
	margin: 0;
	padding: 0 0 1rem 1rem;
}

.list-take-item {
	list-style: none;
  margin-bottom: 0.5rem;
  position: relative;

  &:before {
		display: block;
		content: "-";
		font-weight: bold;
		position: absolute;
		left: -12px;
	}
}
