// Nav
.nav {
	position: fixed;
	width: 100%;
	background-color: $bg-color;
	z-index: 999;
	// box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); // on-scroll
}

.nav_menu {
	display: flex;
	justify-content: space-around;
}

.nav_menu_link {
	color: $menu_link-color;
	text-decoration: none;
	font-weight: 700;
	padding: 1rem;

	&:hover {
		color: $menu_link-color-hover;
	}
}
