.boxround {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $bc-border-color;
  border-radius: 5px;
  padding: 2rem;
}
.boxround .boxround_select-label {
  flex-shrink: 0;
	margin-right: 2rem;
}
.boxround .boxround_select {
  width: 100%;
}

.cardround {
  border: 1px solid $bc-border-color;
  border-radius: 5px;
}

.cardround_header {
	border-bottom: 1px solid $bc-border-color;
  padding: 2rem 2rem 1rem;
}

.condition_label-hidden {
  display: none;
}

.condition_text {
	font-weight: 600;
}

.ml {
	margin-left: 13px;
}

.condition_input {
  margin-left: 13px;
  border: none;
  border: 1px solid #a9a9a9;
  border-radius: 4px;
  width: 35px;
  padding: 5px;
  font-size: inherit;
}

.list-condition {
  list-style-type: none;
  padding: 2rem;
  margin: 0;
  margin-bottom: 2rem;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $bc-border-color;
  // height: 50px;
	padding: 0.8rem 0.5rem;
	transition: background-color 0.2s;
}
.list-item:hover {
  background-color: $list-item-hover;
}

.item-right-text {
  text-align: center;
  font-size: 20px;
}

// --------------------- table

.settings-table {
	padding: 2rem;

	td {

		$td-p: 0.3rem;
		padding-top: $td-p;
		padding-bottom: $td-p;
	}
}

.td-col-1 {
	padding-right: 2rem;
}

.td-col-2 {
	width: 70%;
	padding-right: 0.8rem;
}

.settings-table_select, .settings-table_input {
	width: 100%;

	&:hover {
		border-color: $btn-add-bg-hover;
	}
}

// .dropdown-add_select, .input-add_input {
//   width: 100%;
// }

// --------------------- table end

// buttons

.btn-add {
	border-radius: $bc-border-radius;

	&:hover {
		opacity: 0.9;
	}
}

.btn-add, .btn-remove {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
	width: auto;
	height: auto;

	i {
		transition: color 0.3s;
	}
}

.btn-add > i {
	font-size: 1.8rem;
	color: $btn-add-bg;

	&:hover {
		 color: $btn-add-bg-hover;
	}
}
	.btn-remove > i {
		font-size: 1.5rem;
		color: $btn-remove-bg;

		&:hover {
			 color: $btn-remove-bg-hover;
		}
}

.btn-apply_holder {
  @include flex-c();
}

.btn-apply {
  background-color: $btn-apply-bg;
  color: $btn-apply-color;
  padding: 1rem 1.5rem;

	&:hover {
		opacity: 0.9;
	}
}
