.sethow	{
	background-color: #daf1fb;
	padding: 5rem 0;

	h2 {
		font-size: 1.5rem;
	}

	.plr {
		max-width: 600px;
    margin: 0 auto;
	}
}

.card {
  border-radius: $bc-border-radius;
	font-size: 0.9rem;
}

//card-header
.card-header {
  padding: 1rem;
	font-weight: 600;

	
}
.con-label {
	display: block;
	margin-bottom: 0.5rem;
	font-weight: 600;
}

.con-input {
	border: none;
	border: 1px solid #a9a9a9;
	border-radius: 4px;
	width: 45px;
	padding: 5px;
	font-size: inherit;
	text-align: center;
}

.label-inline {
	margin: 0 0.5rem;
	display: inline;
}

.con-unit {
	// margin-right: 1rem;
}

.con-input.error, .add-input.error {
	border-color: red;
}

.field-error {
	font-weight: 600;
	margin-top: 0.5rem;
	color: red;
	font-size: 0.9em;
}

.list-con {
  list-style-type: none;
  margin: 0;
	padding: 0;
  margin-bottom: 2rem;
}

.list-item {
	padding: 0.7rem 1rem;
	margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
	transition: background-color 0.2s;

	&:hover {
		background-color: $list-item-hover;
	}
}

// list btn

// list btn - remove

.remove-btn, .add-btn {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
	width: auto;
	height: auto;

	i {
		transition: color 0.3s;
	}
}



.remove-btn i {
		font-size: 1.5rem;
		color: $remove-btn-bg;

		&:hover {
			 color: $remove-btn-bg-hover;
		}
}

// =================== ADD group

.add {
	padding: 0 1rem 1rem;
}

.add-label {
	display: inline-block;
	margin: 0.5rem 0 0.5rem;
	flex-shrink: 0;
	flex: 0 0 135px;
}

.add-group {
	display: flex;
	align-items: center;
	width: 100%;
}

.add-select, .add-input {
	width: 100%;
	max-width: 500px;
	margin-right: 0.8rem;
}

.add-btn {
	border-radius: $bc-border-radius;

	&:hover {
		opacity: 0.9;
	}
}

.add-btn i {
	font-size: 1.8rem;
	color: $add-btn-bg;

	&:hover {
		 color: $add-btn-bg-hover;
	}
}

// white bg behind icons
.fa-circle, .fa-square {
	color: white !important;
}


.boxround {
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
	border-radius: 5px;
	box-shadow: 0 10px 20px hsla(0, 0%, 70%, 1);
  padding: 1rem;
	font-size: 0.9rem;
	margin: 3rem 0 2rem;
}

.boxround-where {
	border: 5px solid #e3e3e3;
}

.boxround-select-label {
	margin: 0 0.5rem 0.5rem 0;
	flex-shrink: 0;
}

.boxround-select {
	width: 100%;
	max-width: 500px;
}


.section-save {
	padding: 3rem 0;
	background: #ededed;
}

.save-group {
	display: flex;
	justify-content: center;
	padding-top: 2rem;
}

.apply {
  display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 3rem;
}

.btn-dark {
  background-color: $btn-apply-bg;
  color: $btn-apply-color;
	padding: 1rem 1.5rem;
	transition: 0.2s;
	text-decoration: none;
	margin: 0 1rem;

	&:hover {
		opacity: 0.8;
	}

	&:active {
		transform: scale(1.1);
	}
}

.confirm-msg {
	text-align: center;
	font-weight: 600;
	color: $ok-msg;
	padding: 0;
	padding-top: 2rem;
}

.section-where {
	padding: 3rem 0;
}