.cardround {
  border: 1px solid $bc-border-color;
  border-radius: 5px;
	font-size: 0.9rem;
}

.cardround_header {
	border-bottom: 1px solid $bc-border-color;
  padding: 1rem;
	font-weight: 600;
}

.condition_text-nr {
	display: block;
	margin-bottom: 0.5rem;
}

.condition_label {
	display: block;
	margin-bottom: 0.5rem;
	font-weight: 600;
}

.condition_label-inline {
	margin: 0 0.5rem;
	display: inline;
}

.condition_input {
	// margin-right: 0.2rem;
  border: none;
  border: 1px solid #a9a9a9;
  border-radius: 4px;
  width: 35px;
  padding: 5px;
  font-size: inherit;
	text-align: center;
}

// =================== LIST

.list-condition {
  list-style-type: none;
  margin: 0;
	padding: 0;
  margin-bottom: 2rem;
}

.list-item {
	padding: 0.7rem 1rem;
	margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $bc-border-color;
	transition: background-color 0.2s;

	&:hover {
		background-color: $list-item-hover;
	}
}

// list btn

// list btn - remove

.remove_btn, .add_btn {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
	width: auto;
	height: auto;

	i {
		transition: color 0.3s;
	}
}

.remove_btn > i {
		font-size: 1.5rem;
		color: $remove_btn-bg;

		&:hover {
			 color: $remove_btn-bg-hover;
		}
}

// =================== ADD group

.add {
	padding: 0 1rem 1rem;
}

.add_label {
	display: inline-block;
	margin: 0.5rem 0 0.5rem;
	flex-shrink: 0;
	flex: 0 0 135px;
}

.add_group {
	display: flex;
	align-items: center;
	width: 100%;
}

.add_select, .add_input {
	width: 100%;
	max-width: 500px;
	margin-right: 0.8rem;
}

.add_btn {
	border-radius: $bc-border-radius;

	&:hover {
		opacity: 0.9;
	}
}

.add_btn > i {
	font-size: 1.8rem;
	color: $add_btn-bg;

	&:hover {
		 color: $add_btn-bg-hover;
	}
}



.boxround {
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
  border: 1px solid $bc-border-color;
  border-radius: 5px;
  padding: 1rem;
	font-size: 0.9rem;
}

.boxround_select-label {
	margin: 0 0.5rem 0.5rem 0;
	flex-shrink: 0;
}

.boxround_select {
	width: 100%;
	max-width: 500px;
}

.btn-apply_holder {
  display: flex;
	justify-content: center;
	align-items: center;
}

.btn-apply {
  background-color: $btn-apply-bg;
  color: $btn-apply-color;
  padding: 1rem 1.5rem;

	&:hover {
		opacity: 0.9;
	}
}
