$h1-font-size: 20px;
$h2-font-size: 18px;;
$h3-font-size: 16px;;
$h4-font-size: 14px;;
$h5-font-size: 12px;;
$h6-font-size: 10px;

// Box and card
$bc-border-radius: 5px;
$bc-border-color: #ccc;
$bc-padding-left: 1rem;

// colors

$light-blue: #27aae2;
$bg-color: #FDFDFD;
$text-color: #6c757d;
$btn-cta-color: #27aae2;

// nav

$menu_link-color: #000;
$menu_link-color-hover: #bbb;
