// box and card
$bc-border-radius: 5px;
$bc-border-color: hsla(0, 0%, 80%, 1);
// colors

$light-blue: #27aae2;
$bg-forecast: #f7f7f7;
$text-color: #000;

// button:
$btn-cta-color: #27aae2;

$remove-btn-bg: #808080;
$remove-btn-bg-hover: #e82020; //red

$add-btn-bg: #808080;
$add-btn-bg-hover: #63b50b; //green

$btn-apply-bg: #444444;
$btn-apply-color: #ffffff;

// nav
$menu-link-color: #949494;
$menu-link-color-hover: #bbb;

$circle1: #0da0dd;
$circle2: #f4df00;
$circle3: #75d702;

// list
$list-item-hover: #f9f9f9;

// saved-msg, reset-msg

$ok-msg: #02b802;

// footer
$footer: #c2c2c2;
$footer-dark: #8b8b8b;
$footer-dark-hover: #b3b3b3;
$footer-hover: #ebebeb;
$footer-bg: #525252;
