// @import '_variables.scss';

body {
	font-family: 'Roboto', sans-serif;
	// font-size: 1.1rem;
}

@import '_webfont.scss';

.icon {
	font-size: 8rem;
}

.currently-group{
	max-width: 500px;
	margin: 0 auto;
	border: 1px solid black;
	border-radius: 5px;
	// background-color: #eee;
}

.currently-info {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 1rem;
}

.currently-table {
	border-collapse: collapse;
}

.currently-table thead th {
	text-align: left;
	border-bottom: 3px solid black;
	padding: 0.5rem 0.5rem;
}

.currently-table td {
	width: 50%;
	padding: 1rem;
	border-bottom: 1px solid #ccc;
}

td:nth-child(odd) {
	width: 40%;
	padding: 0.5rem;
}
td:nth-child(even) {
	width: 60%;
	text-align: right;
}

.currently-table .summary {
	font-size: 0.9em;
	text-align: left;
	padding-left: 2rem;
}

.wind-speed {
	padding-right: 0.5rem;
}

.windarrow {
	transform: scale(1.5);
}

.day {
	font-weight: bold;
	margin-right: 0.5rem;
}
.today {
	font-weight: normal;
}

.bigger {
	font-size: 1.4em;
}

.range-1-below {
	width: 20px;
	padding: 5px;
	text-align: center;
	border: none;
	border: 1px solid black;
	border-radius: 3px;
	margin: 0 0.2rem;
	font-size: 1rem;
}
