@font-face {
  font-family: "dripicons-weather";
  src: url("../fonts/dripicons-weather.eot");
  src: url("../fonts/dripicons-weather.eot?#iefix") format("embedded-opentype"), url("../fonts/dripicons-weather.woff") format("woff"), url("../fonts/dripicons-weather.ttf") format("truetype"), url("../fonts/dripicons-weather.svg#dripicons-weather") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "dripicons-weather" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="diw-"]:before,
[class*=" diw-"]:before {
  font-family: "dripicons-weather" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.diw-cloud:before {
  content: "a";
}

.diw-cloud-drizzle:before {
  content: "b";
}

.diw-cloud-drizzle-lightning:before {
  content: "c";
}

.diw-cloud-drizzle-lightning-moon:before {
  content: "d";
}

.diw-cloud-drizzle-lightning-sun:before {
  content: "e";
}

.diw-cloud-drizzle-lightning-sun-2:before {
  content: "f";
}

.diw-cloud-drizzle-moon:before {
  content: "g";
}

.diw-cloud-drizzle-sun:before {
  content: "h";
}

.diw-cloud-drizzle-sun-2:before {
  content: "i";
}

.diw-cloud-fog:before {
  content: "j";
}

.diw-cloud-fog-2:before {
  content: "k";
}

.diw-cloud-fog-moon:before {
  content: "l";
}

.diw-cloud-fog-sun:before {
  content: "m";
}

.diw-cloud-fog-sun-2:before {
  content: "n";
}

.diw-cloud-hail:before {
  content: "o";
}

.diw-cloud-hail-lightning:before {
  content: "p";
}

.diw-cloud-hail-lightning-moon:before {
  content: "q";
}

.diw-cloud-hail-lightning-sun:before {
  content: "r";
}

.diw-cloud-hail-lightning-sun-2:before {
  content: "s";
}

.diw-cloud-hail-moon:before {
  content: "t";
}

.diw-cloud-hail-sun:before {
  content: "u";
}

.diw-cloud-hail-sun-2:before {
  content: "v";
}

.diw-cloud-lightning:before {
  content: "w";
}

.diw-cloud-lightning-moon:before {
  content: "x";
}

.diw-cloud-lightning-sun:before {
  content: "y";
}

.diw-cloud-lightning-sun-2:before {
  content: "z";
}

.diw-cloud-moon:before {
  content: "A";
}

.diw-cloud-rain:before {
  content: "B";
}

.diw-cloud-rain-2:before {
  content: "C";
}

.diw-cloud-rain-2-moon:before {
  content: "D";
}

.diw-cloud-rain-2-sun:before {
  content: "E";
}

.diw-cloud-rain-2-sun-2:before {
  content: "F";
}

.diw-cloud-rain-lightning:before {
  content: "G";
}

.diw-cloud-rain-lightning-moon:before {
  content: "H";
}

.diw-cloud-rain-lightning-sun:before {
  content: "I";
}

.diw-cloud-rain-lightning-sun-2:before {
  content: "J";
}

.diw-cloud-rain-moon:before {
  content: "K";
}

.diw-cloud-rain-sun:before {
  content: "L";
}

.diw-cloud-rain-sun-2:before {
  content: "M";
}

.diw-cloud-snow:before {
  content: "N";
}

.diw-cloud-snow-moon:before {
  content: "O";
}

.diw-cloud-snow-sun:before {
  content: "P";
}

.diw-cloud-snow-sun-2:before {
  content: "Q";
}

.diw-cloud-sun:before {
  content: "R";
}

.diw-cloud-sun-2:before {
  content: "S";
}

.diw-cloud-wind:before {
  content: "T";
}

.diw-cloud-wind-2:before {
  content: "U";
}

.diw-cloud-wind-2-moon:before {
  content: "V";
}

.diw-cloud-wind-2-sun:before {
  content: "W";
}

.diw-cloud-wind-2-sun-2:before {
  content: "X";
}

.diw-cloud-wind-moon:before {
  content: "Y";
}

.diw-cloud-wind-sun:before {
  content: "Z";
}

.diw-cloud-wind-sun-2:before {
  content: "0";
}

.diw-clouds:before {
  content: "1";
}

.diw-clouds-moon:before {
  content: "2";
}

.diw-clouds-sun:before {
  content: "3";
}

.diw-clouds-sun-2:before {
  content: "4";
}

.diw-compass-east:before {
  content: "5";
}

.diw-compass-north:before {
  content: "6";
}

.diw-compass-south:before {
  content: "7";
}

.diw-compass-west:before {
  content: "8";
}

.diw-degrees-celcius:before {
  content: "9";
}

.diw-degrees-fahrenheit:before {
  content: "!";
}

.diw-drizzle:before {
  content: "\"";
}

.diw-flag:before {
  content: "#";
}

.diw-fog:before {
  content: "$";
}

.diw-hail:before {
  content: "%";
}

.diw-lightning:before {
  content: "&";
}

.diw-moon-25:before {
  content: "'";
}

.diw-moon-50:before {
  content: "(";
}

.diw-moon-75:before {
  content: ")";
}

.diw-moon-100:before {
  content: "*";
}

.diw-moon-stars:before {
  content: "+";
}

.diw-rain:before {
  content: ",";
}

.diw-raindrop:before {
  content: "-";
}

.diw-snow:before {
  content: ".";
}

.diw-sun:before {
  content: "/";
}

.diw-sun-eclipse:before {
  content: ":";
}

.diw-sun-low:before {
  content: ";";
}

.diw-sun-lower:before {
  content: "<";
}

.diw-sun-rise:before {
  content: "=";
}

.diw-sun-set:before {
  content: ">";
}

.diw-thermometer-25:before {
  content: "?";
}

.diw-thermometer-50:before {
  content: "@";
}

.diw-thermometer-75:before {
  content: "[";
}

.diw-thermometer-100:before {
  content: "]";
}

.diw-tornado:before {
  content: "^";
}

.diw-umbrella:before {
  content: "_";
}

.diw-umbrella-drizzle:before {
  content: "`";
}

.diw-wet:before {
  content: "{";
}

.diw-wind:before {
  content: "|";
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

p {
  line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0 0 1rem;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
  margin-bottom: 2rem;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 10px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #FDFDFD;
  padding: 0;
  margin: 0;
  color: #6c757d;
}

.wrapper {
  max-width: 1000px;
  padding: 0 2rem;
  margin: 0 auto;
}

.section {
  margin-bottom: 5rem;
}

.btn {
  border: none;
  background-color: #ddd;
  cursor: pointer;
  border-radius: 30px;
}

.input {
  font-size: 0.9em;
  padding: 7px;
  border: none;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  height: 30px;
}

.select {
  font-size: 0.9em;
  padding: 5px;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  height: 30px;
}

.section_where {
  margin-bottom: 2rem;
}

.boxround, .cardround {
  background-color: #fff;
}

.cardround {
  margin-bottom: 2rem;
}

.no-border {
  border: none !important;
}

.width-big {
  width: 60% !important;
}

.width-small {
  width: 38% !important;
}

.plr-2 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.nav {
  padding: 1rem;
  position: fixed;
  width: 100%;
  background-color: #FDFDFD;
  z-index: 10;
}

.menu-holder {
  display: flex;
  justify-content: flex-end;
}

.menu_link {
  color: #000;
  text-decoration: none;
  font-weight: bolder;
  padding: 0.5rem;
  margin-top: 1rem;
  font-family: 'Montserrat';
  font-weight: 500;
}
.menu_link:hover {
  color: #bbb;
}

.header-h1 {
  font-size: 3.5rem;
  color: #27aae2;
  margin-bottom: 0;
}

.header-h2 {
  font-weight: lighter;
  margin-bottom: 3rem;
  font-size: 1.9rem;
}

.about-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.about_text {
  color: #6c757d;
  font-size: 1rem;
  max-width: 450px;
}

.btn-cta {
  font-size: 16px;
  border-radius: 30px;
  padding: 10px 30px;
  border: 2px solid #27aae2;
  background: #27aae2;
  color: #fff;
  margin-top: 3rem;
  transition: background-color 0.3s;
}

.btn-cta:hover {
  background: transparent;
  color: #000;
}

.logo-big-img {
  width: 40%;
}

.about-text-holder, .logo-big-img {
  margin-bottom: 7rem;
}

.boxround {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 2rem;
}

.boxround .boxround_select-label {
  flex-shrink: 0;
  margin-right: 2rem;
}

.boxround .boxround_select {
  width: 100%;
}

.cardround {
  border: 1px solid #bbb;
  border-radius: 5px;
}

.cardround_header {
  border-bottom: 1px solid #bbb;
  padding: 2rem 2rem 1rem;
}

.condition_label-hidden {
  display: none;
}

.condition_text {
  font-weight: 600;
}

.ml {
  margin-left: 13px;
}

.condition_input {
  margin-left: 13px;
  border: none;
  border: 1px solid #a9a9a9;
  border-radius: 4px;
  width: 35px;
  padding: 5px;
  font-size: inherit;
}

.list-condition {
  list-style-type: none;
  padding: 2rem;
  margin: 0;
  margin-bottom: 2rem;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #bbb;
  padding: 0.8rem 0.5rem;
  transition: background-color 0.2s;
}

.list-item:hover {
  background-color: #f9f9f9;
}

.item-right-text {
  text-align: center;
  font-size: 20px;
}

.settings-table {
  padding: 2rem;
}
.settings-table td {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.td-col-1 {
  padding-right: 2rem;
}

.td-col-2 {
  width: 70%;
  padding-right: 0.8rem;
}

.settings-table_select, .settings-table_input {
  width: 100%;
}
.settings-table_select:hover, .settings-table_input:hover {
  border-color: #63b50b;
}

.btn-add {
  border-radius: 5px;
}
.btn-add:hover {
  opacity: 0.9;
}

.btn-add, .btn-remove {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  width: auto;
  height: auto;
}
.btn-add i, .btn-remove i {
  transition: color 0.3s;
}

.btn-add > i {
  font-size: 1.8rem;
  color: #808080;
}
.btn-add > i:hover {
  color: #63b50b;
}

.btn-remove > i {
  font-size: 1.5rem;
  color: #808080;
}
.btn-remove > i:hover {
  color: #e82020;
}

.btn-apply_holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-apply {
  background-color: #444444;
  color: #ffffff;
  padding: 1rem 1.5rem;
}
.btn-apply:hover {
  opacity: 0.9;
}

.pair {
  display: flex;
  justify-content: space-between;
}

.date-group {
  margin-bottom: 1rem;
  font-size: 1.2em;
}

.icon-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.1em;
  line-height: 1.5;
}

.daily-summary {
  font-size: 0.9em;
}

.forecast-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: block;
}
.forecast-header .icon {
  font-size: 6rem;
}
.forecast-header .city, .forecast-header .big-temp {
  text-align: center;
}
.forecast-header .city {
  font-size: 1.5rem;
}
.forecast-header .big-temp {
  font-size: 2rem;
}

.day-nr {
  margin-right: 0.5rem;
}

.weekday {
  font-weight: bolder;
}

.date {
  font-weight: bolder;
}

.table-forecast {
  border-collapse: collapse;
  white-space: nowrap;
  width: 100%;
}
.table-forecast tr:hover {
  background-color: #f9f9f9;
}
.table-forecast .th {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid black;
}
.table-forecast .td {
  line-height: 1.5rem;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid black;
}
.table-forecast .td-col-1 {
  width: 50%;
  font-size: 0.9em;
}
.table-forecast .td-col-2 {
  width: 50%;
}
.table-forecast .wind-speed {
  margin-right: 1rem;
}
.table-forecast .small-font {
  font-size: 0.9em;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.mr {
  margin-right: 0.5rem;
}

.border-top {
  border-top: 1px solid black;
}

.list-take {
  margin: 0 0 2rem;
  padding: 0.5rem 2rem 2rem 2rem;
}

.list-take-item {
  list-style: none;
  margin-bottom: 0.5rem;
  position: relative;
}

.list-take-item::before {
  display: block;
  content: "-";
  font-weight: bold;
  position: absolute;
  left: -12px;
}
