.diw-thermometer-25 {
  color: blue;
  display: inline-block;
  font-size: 2rem;
}

@font-face {
  font-family: "dripicons-weather";
  src: url("../fonts/dripicons-weather.eot");
  src: url("../fonts/dripicons-weather.eot?#iefix") format("embedded-opentype"), url("../fonts/dripicons-weather.woff") format("woff"), url("../fonts/dripicons-weather.ttf") format("truetype"), url("../fonts/dripicons-weather.svg#dripicons-weather") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "dripicons-weather" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="diw-"]:before,
[class*=" diw-"]:before {
  font-family: "dripicons-weather" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.diw-cloud:before {
  content: "a";
}

.diw-cloud-drizzle:before {
  content: "b";
}

.diw-cloud-drizzle-lightning:before {
  content: "c";
}

.diw-cloud-drizzle-lightning-moon:before {
  content: "d";
}

.diw-cloud-drizzle-lightning-sun:before {
  content: "e";
}

.diw-cloud-drizzle-lightning-sun-2:before {
  content: "f";
}

.diw-cloud-drizzle-moon:before {
  content: "g";
}

.diw-cloud-drizzle-sun:before {
  content: "h";
}

.diw-cloud-drizzle-sun-2:before {
  content: "i";
}

.diw-cloud-fog:before {
  content: "j";
}

.diw-cloud-fog-2:before {
  content: "k";
}

.diw-cloud-fog-moon:before {
  content: "l";
}

.diw-cloud-fog-sun:before {
  content: "m";
}

.diw-cloud-fog-sun-2:before {
  content: "n";
}

.diw-cloud-hail:before {
  content: "o";
}

.diw-cloud-hail-lightning:before {
  content: "p";
}

.diw-cloud-hail-lightning-moon:before {
  content: "q";
}

.diw-cloud-hail-lightning-sun:before {
  content: "r";
}

.diw-cloud-hail-lightning-sun-2:before {
  content: "s";
}

.diw-cloud-hail-moon:before {
  content: "t";
}

.diw-cloud-hail-sun:before {
  content: "u";
}

.diw-cloud-hail-sun-2:before {
  content: "v";
}

.diw-cloud-lightning:before {
  content: "w";
}

.diw-cloud-lightning-moon:before {
  content: "x";
}

.diw-cloud-lightning-sun:before {
  content: "y";
}

.diw-cloud-lightning-sun-2:before {
  content: "z";
}

.diw-cloud-moon:before {
  content: "A";
}

.diw-cloud-rain:before {
  content: "B";
}

.diw-cloud-rain-2:before {
  content: "C";
}

.diw-cloud-rain-2-moon:before {
  content: "D";
}

.diw-cloud-rain-2-sun:before {
  content: "E";
}

.diw-cloud-rain-2-sun-2:before {
  content: "F";
}

.diw-cloud-rain-lightning:before {
  content: "G";
}

.diw-cloud-rain-lightning-moon:before {
  content: "H";
}

.diw-cloud-rain-lightning-sun:before {
  content: "I";
}

.diw-cloud-rain-lightning-sun-2:before {
  content: "J";
}

.diw-cloud-rain-moon:before {
  content: "K";
}

.diw-cloud-rain-sun:before {
  content: "L";
}

.diw-cloud-rain-sun-2:before {
  content: "M";
}

.diw-cloud-snow:before {
  content: "N";
}

.diw-cloud-snow-moon:before {
  content: "O";
}

.diw-cloud-snow-sun:before {
  content: "P";
}

.diw-cloud-snow-sun-2:before {
  content: "Q";
}

.diw-cloud-sun:before {
  content: "R";
}

.diw-cloud-sun-2:before {
  content: "S";
}

.diw-cloud-wind:before {
  content: "T";
}

.diw-cloud-wind-2:before {
  content: "U";
}

.diw-cloud-wind-2-moon:before {
  content: "V";
}

.diw-cloud-wind-2-sun:before {
  content: "W";
}

.diw-cloud-wind-2-sun-2:before {
  content: "X";
}

.diw-cloud-wind-moon:before {
  content: "Y";
}

.diw-cloud-wind-sun:before {
  content: "Z";
}

.diw-cloud-wind-sun-2:before {
  content: "0";
}

.diw-clouds:before {
  content: "1";
}

.diw-clouds-moon:before {
  content: "2";
}

.diw-clouds-sun:before {
  content: "3";
}

.diw-clouds-sun-2:before {
  content: "4";
}

.diw-compass-east:before {
  content: "5";
}

.diw-compass-north:before {
  content: "6";
}

.diw-compass-south:before {
  content: "7";
}

.diw-compass-west:before {
  content: "8";
}

.diw-degrees-celcius:before {
  content: "9";
}

.diw-degrees-fahrenheit:before {
  content: "!";
}

.diw-drizzle:before {
  content: "\"";
}

.diw-flag:before {
  content: "#";
}

.diw-fog:before {
  content: "$";
}

.diw-hail:before {
  content: "%";
}

.diw-lightning:before {
  content: "&";
}

.diw-moon-25:before {
  content: "'";
}

.diw-moon-50:before {
  content: "(";
}

.diw-moon-75:before {
  content: ")";
}

.diw-moon-100:before {
  content: "*";
}

.diw-moon-stars:before {
  content: "+";
}

.diw-rain:before {
  content: ",";
}

.diw-raindrop:before {
  content: "-";
}

.diw-snow:before {
  content: ".";
}

.diw-sun:before {
  content: "/";
}

.diw-sun-eclipse:before {
  content: ":";
}

.diw-sun-low:before {
  content: ";";
}

.diw-sun-lower:before {
  content: "<";
}

.diw-sun-rise:before {
  content: "=";
}

.diw-sun-set:before {
  content: ">";
}

.diw-thermometer-25:before {
  content: "?";
}

.diw-thermometer-50:before {
  content: "@";
}

.diw-thermometer-75:before {
  content: "[";
}

.diw-thermometer-100:before {
  content: "]";
}

.diw-tornado:before {
  content: "^";
}

.diw-umbrella:before {
  content: "_";
}

.diw-umbrella-drizzle:before {
  content: "`";
}

.diw-wet:before {
  content: "{";
}

.diw-wind:before {
  content: "|";
}

html {
  font-size: 17px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

p {
  line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0 0 1rem;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
  margin-bottom: 2rem;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 10px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #FDFDFD;
  padding: 0;
  margin: 0;
  color: #6c757d;
}

.wrapper {
  max-width: 1000px;
  padding: 0 1rem;
  margin: 0 auto;
}

.section {
  margin-bottom: 5rem;
}

.btn {
  border: none;
  background-color: #ddd;
  cursor: pointer;
  border-radius: 30px;
}

.input {
  font-size: 0.9em;
  padding: 7px;
  border: none;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  height: 30px;
}

.select {
  font-size: 0.9em;
  padding: 5px;
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  height: 30px;
}

.section_where {
  margin-bottom: 2rem;
}

.cardround {
  margin-bottom: 2rem;
}

.no-border {
  border: none !important;
}

.nav {
  position: fixed;
  width: 100%;
  background-color: #FDFDFD;
  z-index: 10;
}

.nav_menu {
  display: flex;
  justify-content: space-around;
}

.nav_menu_link {
  color: #949494;
  text-decoration: none;
  font-weight: 700;
  padding: 1rem;
}
.nav_menu_link:hover {
  color: #bbb;
}

.h1-big {
  font-size: 2.2rem;
  color: #27aae2;
  margin-bottom: 0;
}

.h2-big {
  font-weight: lighter;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.about {
  padding-top: 5rem;
}

.logo_holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-mobile {
  width: 100%;
  padding: 0 2rem 1rem;
}

.logo-big {
  display: none;
}

.btn-cta_holder {
  display: flex;
  justify-content: center;
}

.btn-cta {
  font-size: 16px;
  border-radius: 30px;
  padding: 10px 30px;
  border: 2px solid #27aae2;
  background: #27aae2;
  color: #fff;
  margin-top: 1rem;
  transition: background-color 0.3s;
}

.btn-cta:hover {
  background: transparent;
  color: #000;
}

.cardround {
  border: 1px solid #bbb;
  border-radius: 5px;
  font-size: 0.9rem;
}

.cardround_header {
  border-bottom: 1px solid #bbb;
  padding: 1rem;
  font-weight: 600;
}

.condition_text-nr {
  display: block;
  margin-bottom: 0.5rem;
}

.condition_label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.condition_label-inline {
  margin: 0 0.5rem;
  display: inline;
}

.condition_input {
  border: none;
  border: 1px solid #a9a9a9;
  border-radius: 4px;
  width: 35px;
  padding: 5px;
  font-size: inherit;
  text-align: center;
}

.list-condition {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
}

.list-item {
  padding: 0.7rem 1rem;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #bbb;
  transition: background-color 0.2s;
}
.list-item:hover {
  background-color: #f9f9f9;
}

.remove_btn, .add_btn {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  width: auto;
  height: auto;
}
.remove_btn i, .add_btn i {
  transition: color 0.3s;
}

.remove_btn > i {
  font-size: 1.5rem;
  color: #808080;
}
.remove_btn > i:hover {
  color: #e82020;
}

.add {
  padding: 0 1rem 1rem;
}

.add_label {
  display: inline-block;
  margin: 0.5rem 0 0.5rem;
  flex-shrink: 0;
  flex: 0 0 135px;
}

.add_group {
  display: flex;
  align-items: center;
  width: 100%;
}

.add_select, .add_input {
  width: 100%;
  max-width: 500px;
  margin-right: 0.8rem;
}

.add_btn {
  border-radius: 5px;
}
.add_btn:hover {
  opacity: 0.9;
}

.add_btn > i {
  font-size: 1.8rem;
  color: #808080;
}
.add_btn > i:hover {
  color: #63b50b;
}

.boxround {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 1rem;
  font-size: 0.9rem;
}

.boxround_select-label {
  margin: 0 0.5rem 0.5rem 0;
  flex-shrink: 0;
}

.boxround_select {
  width: 100%;
  max-width: 500px;
}

.btn-apply_holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-apply {
  background-color: #444444;
  color: #ffffff;
  padding: 1rem 1.5rem;
}
.btn-apply:hover {
  opacity: 0.9;
}

.date-group {
  font-size: 1.1rem;
}

.date-group_weekday {
  font-weight: 500;
}

.icon-group {
  margin: 1rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icon-group .icon {
  font-size: 4rem;
}

.icon-group_city, .icon-group_big-temp {
  text-align: center;
  font-size: 1.3rem;
}

.icon-group_big-temp {
  font-size: 1.8em;
}

.table-forecast {
  border-collapse: collapse;
  white-space: nowrap;
  width: 100%;
}

.table-forecast .td {
  line-height: 1.5rem;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #bbb;
}

.border-top {
  border-top: 1px solid #bbb;
}

.align-right {
  text-align: right;
}

.cardround_take {
  padding: 1rem;
}
.cardround_take h3, .cardround_take h4 {
  font-size: inherit;
}
.cardround_take h3 {
  margin-bottom: 2rem;
}
.cardround_take h4 {
  margin-bottom: 0.5rem;
}

.list-take {
  margin: 0;
  padding: 0 0 1rem 1rem;
}

.list-take_item {
  list-style: none;
  margin-bottom: 0.5rem;
  position: relative;
}
.list-take_item:before {
  display: block;
  content: "-";
  font-weight: bold;
  position: absolute;
  left: -12px;
}

@media screen and (min-width: 700px) {
  .wrapper {
    padding: 0 2rem;
  }
}
@media screen and (min-width: 500px) {
  .nav_menu {
    justify-content: flex-end;
  }
}
@media screen and (min-width: 500px) {
  .logo-mobile {
    width: 80%;
  }

  .h1-big {
    font-size: 3.5rem;
  }

  .h2-big {
    font-size: 1.9rem;
  }
}
@media screen and (min-width: 700px) {
  .logo-mobile {
    width: 60%;
  }
}
@media screen and (min-width: 850px) {
  .about_holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .about_text {
    max-width: 450px;
  }

  .logo-mobile {
    display: none;
  }

  .logo-big {
    display: block;
    width: 40%;
    margin-left: 3rem;
  }

  .btn-cta_holder {
    display: block;
    margin-top: 3rem;
  }
}
@media screen and (min-width: 500px) {
  .condition_label {
    display: inline;
    margin-right: 0.5rem;
  }
}
@media screen and (min-width: 700px) {
  .cardround {
    font-size: 1rem;
  }

  .cardround_header {
    padding: 2rem 2rem 1rem;
  }

  .condition_text-nr {
    display: inline;
    margin-right: 0.5rem;
  }

  .list-condition {
    padding: 2rem;
  }

  .list-item {
    padding: 0.7rem 0.5rem;
  }

  .add {
    padding: 2rem;
  }

  .add_row {
    display: flex;
    align-items: baseline;
    margin-bottom: 0.6rem;
  }

  .boxround {
    font-size: 1rem;
    flex-wrap: nowrap;
    padding: 2rem;
  }

  .boxround_select-label {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 700px) {
  .table-forecast .td {
    padding: 0.7rem 2rem;
  }

  .cardround_take {
    padding: 2rem;
  }
}
@media screen and (min-width: 900px) {
  .pair {
    display: flex;
    justify-content: space-between;
  }

  .cardround_weather {
    width: 55%;
  }

  .cardround_take {
    width: 43%;
  }
}
